Flask==2.3.4
Flask-SQLAlchemy==3.0.5
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-WTF==1.1.1
gunicorn==21.2.0
pymysql==1.1.1
psycopg2-binary==2.9.7
pandas==2.1.1
Pillow==10.0.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.2


